@import "smart-grid"
@import "basic/variables"

reset()


@import "sections/header"
@import "sections/about"
@import "sections/features"
@import "sections/iphone-feature"
@import "sections/iphone-screens"
@import "sections/get-iphone"
@import "sections/users"
@import "sections/footer"

@import "components/buttons"
@import "components/forms"
@import "components/carousel"

@import "media-queryes"
@import "basic/typography"
