.about
    position relative
    background: url('../img/banner_background.jpg') no-repeat center/cover
    padding 188px 0 510px
    text-align: center
    overflow hidden
    &__content
        size(8)
        shift(2)
    &__btn
        margin-top: 48px
    &__iphone
        position: absolute
        bottom: -310px
        left: 50%
        margin-left: -185px