.features
    padding: 120px 0
    &__block
        size(6)
        col()
        size-md(12)
        &:first-child
            md(margin-bottom, 80px)
    &__content
        flex(row)
        md(flex-direction, column)
    &__icon
        margin-bottom: 48px
        font-size 42px