.iphone-feature
    position: relative
    padding: 240px 0 330px
    md(padding, 60px 0 60px)
    &__content
        size(5)
        shift-left(7)
        size-md(12)
        shift-md(0)
    &__iphone
        position: absolute
        bottom: 110px
        right: 50%
        md(position, relative)
        md(bottom, auto)
        md(right, auto)
        md(padding, 0 15px)
        md(margin-top, 64px)
    &__btns-group
        margin-top 74px