.users
    padding 120px 0
    sm(padding, 120px 0 0)
    &__content
        size(8)
        shift(2)
        size-xs(12)
        shift-xs(0)
    &__name
        margin-top: 68px
        color color_grey-dark
.rating
    margin-top 17px
    
.gold-star
    color color_yellow
