.iphone-screens {
  background: color_grey_light_2;
  padding: 140px 0 800px;
  text-align: center;
  overflow: hidden;
}
.images-list {
  position: relative;
  margin-top: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.images-list__item {
  position: absolute;
}
.images-list__item:nth-child(1),
.images-list__item:nth-child(2),
.images-list__item:nth-child(4),
.images-list__item:nth-child(5) {
  top: 92px;
  width: 320px;
}
.images-list__item:nth-child(1) {
  left: 50%;
  margin-left: -880px;
}
.images-list__item:nth-child(2) {
  left: 50%;
  margin-left: -530px;
}
.images-list__item:nth-child(3) {
  top: 0;
  left: 50%;
  margin-left: -193px;
}
.images-list__item:nth-child(4) {
  right: 50%;
  margin-right: -530px;
}
.images-list__item:nth-child(5) {
  right: 50%;
  margin-right: -880px;
}
.images-list__img {
  -webkit-box-shadow: 10px 10px 16px 0px rgba(61,61,62,0.15);
          box-shadow: 10px 10px 16px 0px rgba(61,61,62,0.15);
}
.images-list__img--main-img {
  -webkit-box-shadow: none;
          box-shadow: none;
}
