.carousel
    &-indicators
        position static
        margin-bottom 76px
        display flex
        justify-content space-between
        align-items: center
        xs(margin, 0)
        & li
            opacity .2
            transform: scale(.7)
            text-indent 0
            width auto
            height auto
            transition: all .7s ease 
            & > img
                border-radius 65px
                box-shadow 10px 12px 30px 0px rgba(92, 95, 101, 0.18)
            &.active
                opacity 1
                transform: scale(1)
    &-inner
        text-align center
    &-control-next
        transform rotate(180deg)
    &-control-prev
        left -90px
    &-control-next
        right -90px
