    .form
        position relative
        width 502px
        margin 0 auto
        text-align center
        xs(width, 100%)
        &__field
            width 502px
            padding 16px 174px 16px 26px
            border 1px solid rgba(38,39,45,0.2)
            font-size 16px
            background-color transparent
            border-radius 30px
            xs(width, inherit)
            xs(padding-right, 26px)
        &__btn
            position absolute
            top: 5px
            right: 6px
            xs(position, static)
            xs(margin-top, 20px)